fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
alembic
pytest
httpx
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
faiss-cpu